@import './styles.scss';

.json-node {
  font-family: $font-family;
  font-size: $font-size;
  color: $black;

  .header {
    position: relative;
  }

  .header,
  .contents {
    display: table;
    flex-direction: row;

    line-height: $line-height;

    > * {
      display: table-cell;
    }
  }

  .contents {
    padding-left: $line-height ; // must be the same as the width of the expand button
    padding-right: 5px;
  }

  .footer {
    padding-left: $line-height + $input-padding; // must be the same as the width of the expand button
  }
}

.expand {
  position: relative;
  top: 2px;
  width: $line-height;
  height: $line-height;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  background: transparent;
  color: $gray-icon;
  font-size: $font-size-icon;
}

.key,
.value {
  line-height: $line-height;
  min-width: 16px;
  word-break: normal;
  padding: 0 $input-padding;
  outline: none;
  border-radius: 1px;
  vertical-align: top;

  &:focus {
    box-shadow: 0 0 3px 1px #008fd5;
    z-index: 1;
  }
}

.separator,
.delimiter {
  vertical-align: top;
  color: $gray;
}

.tag {
  vertical-align: top;
  border: none;
  font-size: $font-size-small;
  font-family: $font-family-menu;
  color: white;
  background: $light-gray;
  border-radius: 2px;
  padding: 1px 4px;
  margin: 0 5px;
  cursor: pointer;
  position: relative;
  top: 1px;

  &:hover {
    background: lighten($light-gray, 5%);
  }
}

.items,
.props {
  padding-left: $indentation-width;
}
.value {

  &.string {
    color: #008000;
  }

  &.object,
  &.array {
    min-width: 16px;
    color: $gray;
  }

  &.number {
    color: #ee422e;
  }

  &.boolean {
    color: #ff8c00;
  }

  &.null {
    color: #004ED0;
  }

  &.invalid {
    color: #000000;
  }

  &.url {
    color: green;
    text-decoration: underline;
  }
}

div.empty {
  &:not(:focus) {
    outline: 1px dotted lightgray;
    -moz-outline-radius: 2px;
  }
  
  &::after {
    pointer-events: none;
    color: lightgray;
  }

  &.key::after {
    content: 'key';
  }

  &.value::after {
    content: 'value';
  }
}

.key.search,
.value.search {
  background-color: $highlight-color;

  &.active {
    background-color: $highlight-active-color;
  }
}